<div>
<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class=”ui segment”>
<% @messages.each do |message| %>
<% if message.body %>
<% user = User.find(message.user_id) %>
    <div>
      <strong><%= user.username %></strong><%= message.message_time %></div>
         <%= message.body %>  
 <% end %>
<% end %>
</div>
<%= form_for [@conversation, @message] do |f| %>
 <div  id = 'm-container'>
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "  Send  ", class: " btn-primary" %>
 </div>
<% end %> 	

 </div>