<p id="notice"><%= notice %></p>
<div id='games-container'>


<%= form_tag games_path, :method => 'get' do %>
	 <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
<% end %>

	<div class='row'>
  	<% @games.each do |game| %>
  	 <div class='col-md-4'>
    	 <%= game.name %><br>
    	 <%= link_to image_tag(game.img_url), game %>
   	 </div>	
    <% end %>
  <!-- </div> -->
</div>
</div>
	