<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>  
<br>

<%= link_to 'New Game', new_game_path %>


<% @games.each do |game| %>
    <div class='game-container'>
        <%= game.name %>
        <%= link_to 'Show', game %>
        <img src=" <%= game.img_url %>">
   </div>
 <% end %>

