<div id-'game-show-container'>
<p id="notice"><%= notice %></p>
<%= link_to 'Back', games_path %>
<h1><%= @game.name %></h1>
<div id='show-game-container' class='col-md-6'><img src="<%= @game.img_url%>"></div><br>



<% if current_user %>
<form action="/games/<%= @game.id %>/add_game" method="post">
    <input type="hidden" name="_method" value="put">
    <button value='<%= current_user %>' class = "btn btn-primary">Add to collection</button>
</form>
 <% end %>

        


<divc lass='col-md-4' > <h5>Users that own <%= @game.name %></h5>
<% @game.users.each do |i| %>		
	<a href="/users/<%= i.id %>/"><%= i.username %></a>
<% end %>	
</div>	 
	


	



<%= render 'disqus'  %>






<div  class='col-md-12'>
   <embed src="<%= @game.rules %>" width="950" height="750"></embed>
 </div>	

 </div>